
/logs/
/vcs/
/secret/

target/
node_modules/
.vertx/

/.idea/
/.idea_modules/
*.iml
.classpath
.project
.settings

RUNNING_PID

/kotoed-js/src/main/ts/**/*.js
/kotoed-js/src/main/ts/**/*.js.map
/kotoed-js/src/main/ts/util/kotoed-generated.ts

/.mvn

*.tokens
