extends ./base

block content
    form(class="form-signin", method="post")
        h2 Войти
        if context.loginError
            div(class="alert alert-danger")=context.loginError
        label(for="inputUsername", class="sr-only") Логин
        input(type="text", id="inputUsername" class="form-control", name="username", placeholder="Логин", required, autofocus)
        label(for="inputPassword", class="sr-only") Пароль
        input(type="password", id="inputPassword" class="form-control", name="password", placeholder="Пароль", required)
        button(class="btn, btn-lg btn-default btn-block", type="submit") Войти

block title
    title Вход
