extends ./base

block content
    h2= context.get('who')  + " here"
        | &copy;
    p
        a(href="/teamcity", id="select-me") Teamcity bindings
    p
        a(href="http://petstore.swagger.io/?url=https://bitbucket.org/vorpal-research/kotoed/raw/tip/docs/swagger.yaml") REST API documentation
    p Здравствуйте
block title
    title= "The awesome " + context.get('who')