div(id="snafu-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="snafu-dialog-label")
    div(class="modal-dialog" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h4(class="modal-title") Mayday, mayday, mayday
            div(class="modal-body")
                | Something went wrong. Try reloading this page.
            div(class="modal-footer")
                button(type="button" class="btn btn-primary" id="snafu-dialog-reload")
                    | Reload
                button(type="button" class="btn btn-danger" id="snafu-dialog-stay")
                    | Stay

div(id="snafu-good-luck-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="snafu-dialog-label")
    div(class="modal-dialog" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h4(class="modal-title") Good luck!
            div(class="modal-body")
                | We won't bother you with these messages until you reload the page.
            div(class="modal-footer")
                button(type="button" class="btn btn-success" id="snafu-good-luck-dialog-okay")
                    | Thank you!