mixin makeBreadcrumb(breadcrumb)
    if breadcrumb
        ol(class="breadcrumb")
            for elem in breadcrumb.elements
                li
                    if !elem.getActive() && elem.getHref()
                        a(href=elem.href)=elem.getText()
                    else
                        =elem.getText()
