@import "./kotoed-bootstrap/variables.less";

@review-background: white;
@review-border-color:  @brand-primary;

#editor {
  height: 800px;
}

.line-comments {
  border: solid 2px @review-border-color;
  background: @review-background;
  font-family: @font-family-base;
  font-size: @font-size-base;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.line-comments-arrow {
  // Kill me pls
  position: absolute;
  border-bottom: solid 5px @review-border-color;
  border-top: solid 5px transparent;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  top: -5px;
}

.review-gutter {
  background: lighten(@brand-primary, 20%);
  width: 2em
}

.comments-counter-wrapper {
  width: 100%;
  text-align: center;
}

.code-review {
  height: 100vh
}

.code-review-tree {
  min-height: 100%
}

.comments-pencil-wrapper {
  &:not(:hover):not(.comment-form-shown) {
    opacity: 0;
  }
  text-align: center;
}

.hidden-comments-heading {
  overflow: hidden;
  text-align: center;

  &:before, &:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.comment-state-change-button {
  cursor: pointer;
}

.comment-markdown {
  // Copy-paste from blueprint.css
  pre,
  code {
    text-transform: none;
    font-family: monospace;
    font-size: smaller;
  }

  code {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2);
    background: rgba(255, 255, 255, 0.7);
    padding: 2px 5px;
    color: #5c7080;
  }
  .pt-dark code {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4);
    background: rgba(16, 22, 26, 0.3);
    color: #bfccd6;
  }

  pre {
    display: block;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15);
    background: rgba(255, 255, 255, 0.7);
    padding: 13px 15px 12px;
    line-height: 1.4;
    color: #182026;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
  }
  pre > code {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    padding: 0;
    white-space: pre-wrap;
    color: inherit;
    font-size: inherit;
  }
  .pt-dark pre {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4);
    background: rgba(16, 22, 26, 0.3);
    color: #f5f8fa;
  }
  .pt-dark pre > code {
    box-shadow: none;
    background: transparent;
  }

}