@import "~bootstrap/less/variables.less";
@import "~bootstrap/less/mixins.less";

@polytech-color: #37B34A;
@polytech-text: #fff;


.btn-polytech {
  background-color: @polytech-color;
  .button-variant(@polytech-text, @polytech-color, rgba(0,0,0,.2))
}

.fa-polytech {
  content: url("../../resources/polytech_pi.svg");
}